body {
    background-color: #111014;
    color: #f0f8ff;
}

#container {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgba(137, 43, 226, 0.77);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;

}
button:hover {
    background-color: darkorchid;
}

button:active {
    background-color: fuchsia;
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}