body {
    background-color: #111014;
    color: #f0f8ff;
}
.pass-container {
    margin-top: 10%;
    padding: 2vh;
    border: 2px solid rgb(63, 8, 160);
    border-radius: 5vh;
    background-color: #1b1a20;
    width: 35vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    transition: all 1.5s;
}

.password-gen-text {
    /* header */
}

.select-pass-chars {
    /* checkboxes */
}

.password-gen-btn {
    background-color: rgba(137, 43, 226, 0.77);
    color: #f0f8ff;
    border: 2px solid rgba(137, 43, 226, 0.77);
    border-radius: 1vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1.25rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.1s;
}

.password-gen-btn:hover {
    background-color: rgba(160, 74, 240, 0.77);
}
.result-box {
    position: relative;
    left: 5%;
    margin-top: 4%;
    padding: 1rem;
    width: 25vw;
    border: 1.5px solid rgb(63, 8, 160);
    border-radius: 2vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: #1b1a20;
    color: white;
    transition: all 1s;

}

.pass-length {
    margin-top: 3vh;
    width: 12vw;
    text-align: center;
}

.center-pass-box {
    position: relative;
    left: 70vh;
}




    if(length <= 0) {
        return "(Password Length Must Be Atleast 1!)";
    }


=====


    if(!password || password.length <= 0) {
        return "(Password Length Must Be Atleast 1!)";
    }
